.leitor {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .imagem {
        height: 70vw;
        width: 70vw;
        border: 10px dashed crimson;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

h1 {
    color: white;
}